[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
discriminateurs = "ACZZ6fhbaoYChTMXDEGagee7pu2LzxMu37pee2XBhdns"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[programs.devnet]
discriminateurs = "ACZZ6fhbaoYChTMXDEGagee7pu2LzxMu37pee2XBhdns"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
